<!-- Requerimientos:
* Esta Actividad es grupal
* Debes crear un proyecto y utilizar Git como repositorio local. Durante  la actividad debes 
    realizar constantes actualizaciones del repositorio. Anota todos los pasos y comandos que realizas.
1. Crear un formulario de postulacion para el trabajo de apoyo ambiental para Chiloe.
2. Los campos del formulario son: rut, apellido paterno, apellido materno, nombre, 
fecha de nacimiento, edad, genero, email, celular, profesion, motivacion para postular al trabajo.
3. Realizar las siguientes validaciones a los campos del formulario:
    a. Rut: largo entre 9 y 10 caracteres.
    b. Nombre: largo entre 3 y 20 caracteres.
    c. Apellido paterno: largo entre 3 y 20 caracteres.
    d. Apellido materno: largo entre 3 y 20 caracteres.
    e. Edad: entre 18 y 35 años.
f. Genero: que sea seleccionado un genero de la lista.
g. Celular: largo entre 9 y 12.
4. Todos los campos son requeridos. 
5. Debe utilizar los siguientes componentes: Text, number, date, select, textarea.
6. Debe haber un boton submit ?Enviar?.
7. Debe haber un boton submit ?Crear Carta?.  Este boton llama a una funcion que genera 
una carta de presentacion e intencion para postular al trabajo.  Usted debe concatenar 
los datos ingresados en el formularios y generar un texto correspondiente a su carta, 
el que sera asignado al campo textarea con el id=?carta?.
8. Las funciones de JavaScript las debe crear en un archivo externo.
9. Los formatos de CSS los debe crear en un archivo externo.
10. Crear la estructura del proyecto en GitHub, todos los integrantes deben descargar el 
proyecto y trabajar cada uno en forma separada en el formulario, JavaScript y CSS. 
Cada uno debe actualizar el repositorio para complementar el proyecto y probar su funcionamiento. -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script text="text/javascript" src="{% static 'validation.js' %}"></script>
</head>
    <body>
      <div class="container">
        <h2 class="text-primary text-center">Actividad Jquery</h1>
      </div>
        <div class="container">
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-bg-light">
              <p class="text-info"> (*) Datos Obligatorios</p>
              <form id="formulario" method="post" >
                <fieldset>
                  <legend>Datos Personales</legend>

                </fieldset>
                <div class="form-group">
                    <label for="rut" class="text-secondary">Rut(*)</label>
                    <input type="text" class="form-control" id="rut">
                </div>
                <div class="form-group">                
                    <label for="nombre" class="text-secondary">Nombre(*)</label>    
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">  
                    <label for="apellidoPaterno" class="text-secondary">Apellido Paterno(*)</label>              
                    <input type="text" class="form-control" id="apellidoPaterno">
                </div>
                <div class="form-group">                
                    <label for="apellidoMaterno" class="text-secondary">Apellido Materno(*)</label>
                    <input type="text" class="form-control" id="apellidoMaterno">
                </div>
                <div class="form-group">                
                    <label for="fechaNacimiento" class="text-secondary">Fecha Nacimiento(*)</label>
                    <input type="date" class="form-control" id="fechaNacimiento">
                </div>      
                <div class="form-group">  
                    <label for="edad" class="text-secondary">Edad(*)</label>
                    <select class="form-select" name="edad" id="edad">
                        <option value="">Seleccione</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                    </select>
                </div>  
                <div class="form-group">  
                    <label for="genero" class="text-secondary">Género(*)</label>
                    <select class="form-select" name="genero" id="genero">
                        <option value="">Seleccione</option>
                        <option value="Femerino">Femerino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="email" class="text-secondary">Email(*)</label>
                    <input type="text" class="form-control" id="email">        
                </div>                          
                <div class="form-group">
                    <label for="celular" class="text-secondary">Celular(*)</label>
                    <input type="text" class="form-control" id="celular">          
                </div>
                <div class="form-group">
                    <label for="profesion" class="text-secondary">Profesión(*)</label>
                    <input type="text" class="form-control" id="profesion">              
                </div>
                <div class="form-group">
                    <label for="motivacion" class="text-secondary">Motivación(*)</label>
                    <textarea type="text" class="form-control" id="motivacion"></textarea>          
                </div>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  id="creaCarta">Crear Carta</button>
                </div>
            </form> 
        </div>
        <div class="col-sm">            
            <div id="alertas"  class=""> 
            <br>     
            <div id="mrut" class="text-white"></div> 
            <div id="mnombre" class="text-white"></div>  
            <div id="mapellidoPaterno" class="text-white"></div>  
            <div id="mapellidoMaterno" class="text-white"></div>
            <div id="mfechaNacimiento" class="text-white"></div>
            <div id="medad" class="text-white"></div>   
            <div id="mgenero" class="text-white"></div>       
            <div id="memail" class="text-white"></div>        
            <div id="mcelular" class="text-white"></div>      
            <div id="mprofesion" class="text-white"></div> 
            <div id="mmotivacion" class="text-white"></div>
            <br>
        </div>
        

        </div>
      </div>
    </div>     



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Carta Generada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="carta">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>    
</html>